<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'detector/styles.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Spam Detection</h1>
        <div class="d-flex justify-content-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email_text">Email Text:</label>
                            {{ form.email_text }}  <!-- Render the form field as defined in forms.py -->
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Check Spam</button>
                    </form>
                    {% if prediction %}
                        <h2 class="mt-4 text-center">
                            Prediction: 
                            <span class="{% if prediction == 'Spam' %}spam{% else %}not-spam{% endif %}">{{ prediction }}</span>
                        </h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
